@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 100vh;
    background: url(img/apex-legends-pathfinder-robot-emoticons-saluting-futuristic.jpg)center/cover no-repeat;
    position: relative;

}
.header-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}
.header-content h1{

    font-size: 80px;
    color: rgb(67, 74, 103);
}
.header-content p{

    color: rgb(67, 74, 103);
    font-size: 40px;
    margin-bottom:40px;
    margin-top: 40px;

}
.header-content a{
    background: linear-gradient(45deg, #65DAFF, #70FFCB);
    padding: 20px 50px;
    color: aliceblue;
}
.menu{
    background-color: rgb(33, 31, 31);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;

}
.menu-container{
    width: 1000px;
    margin: auto;

}
.menu-links{
    float: right;

}
.menu-links a{
     text-decoration: none;
     color: aliceblue;
     margin-right: 10px;
     
}
.link_RobotBot{
    text-decoration: none;
    color: aliceblue;
    margin-left: 10px;
}
.link_RobotBot img{
    position: relative;
    top: 3px;
}
body{
    background-color: #222;
}
.about{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.about-container{
    width: 1000px;
    margin: auto;

}
.about-card{
    width: 22%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
    
}
.about-card p{
    color: #65DAFF;
    margin-top: 20px;
}
.about-card img{
    height: 100px;
}
.games-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.games-container {
    width: 800px;
    margin: auto;
    box-shadow: 0 0 15px black;
    padding: 20px;
}
.games-container h2 {
    color: #65DAFF;
    text-align: center;
    margin-bottom: 20px;
}
.games-info{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    padding: 15px;


}
.games-img{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height: 300px;
}
.games-info hr{
    width: 40%;
    height: 4px;
    background-color: aquamarine;
    margin-top: 15px;
    margin-bottom: 15px;
}
.games-info h3{
    color: aquamarine;
    margin-top: 20px;
}
.games-info p{
    color: white;
}
.competitions-container{
    width: 800px;
    margin: auto;
    padding: 50px 0;
    text-align: center;

}
.competitions h2{
    color:  aquamarine;
    margin-top: 10px;
    margin-bottom: 10px;
}
.competitions p{
    color: aliceblue;
}

.registration-container{
    width: 800px;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    box-shadow: 0 0 15px black;

}
.registration h2{
    color:  aquamarine;
    margin-top: 10px;
    margin-bottom: 15px;

}
.registration hr{
    height: 5px;
    width: 200px;
    margin: 20px auto;
    background-color: aliceblue;
}
.blue-registration{
    position: relative;
    background-color: aquamarine;
    width: 80%;
    height: 120px;
    margin: auto;
}
.blue-registration h3{
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
.blue-registration a{
    background-color: black;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    text-decoration: none;
    padding: 5px 20px;
    color: aliceblue;
}
